# One-to-Many and Many-to-Many Joins - Lab

## Introduction

In this lab, you'll practice your knowledge on One-to-Many and Many-to-many relationships!

## Objectives

You will be able to:
- Query data including Many-to-Many relationships
- Write queries that make use of Join Tables

## One-to-Many and Many-to-Many Joins
<img src='Database-Schema.png' width=550>

## Employees and their Office (a One-to-One join)

Return a list of all of the employees with their first name, last name and the city and state of the office that they work out of (if they have one). Include all employees and order them by their first name, then their last name.

In [4]:
import sqlite3
import pandas as pd

In [5]:
conn = sqlite3.connect('data.sqlite', detect_types=sqlite3.PARSE_COLNAMES)
cursor = conn.cursor()

In [16]:
#Your code here
cursor.execute('''
SELECT firstName, lastName, city, state FROM employees
    JOIN offices
    USING(officeCode)
    ORDER BY firstName, lastName;
''').fetchall()

[('Andy', 'Fixter', 'Sydney', ''),
 ('Anthony', 'Bow', 'San Francisco', 'CA'),
 ('Barry', 'Jones', 'London', ''),
 ('Diane', 'Murphy', 'San Francisco', 'CA'),
 ('Foon Yue', 'Tseng', 'NYC', 'NY'),
 ('George', 'Vanauf', 'NYC', 'NY'),
 ('Gerard', 'Bondur', 'Paris', ''),
 ('Gerard', 'Hernandez', 'Paris', ''),
 ('Jeff', 'Firrelli', 'San Francisco', 'CA'),
 ('Julie', 'Firrelli', 'Boston', 'MA'),
 ('Larry', 'Bott', 'London', ''),
 ('Leslie', 'Jennings', 'San Francisco', 'CA'),
 ('Leslie', 'Thompson', 'San Francisco', 'CA'),
 ('Loui', 'Bondur', 'Paris', ''),
 ('Mami', 'Nishi', 'Tokyo', 'Chiyoda-Ku'),
 ('Martin', 'Gerard', 'Paris', ''),
 ('Mary', 'Patterson', 'San Francisco', 'CA'),
 ('Pamela', 'Castillo', 'Paris', ''),
 ('Peter', 'Marsh', 'Sydney', ''),
 ('Steve', 'Patterson', 'Boston', 'MA'),
 ('Tom', 'King', 'Sydney', ''),
 ('William', 'Patterson', 'Sydney', ''),
 ('Yoshimi', 'Kato', 'Tokyo', 'Chiyoda-Ku')]

## Customers and their Orders (a One-to-Many join)

Return a list of all of the customers. For each customer return a record for each of their order numbers, order dates and statuses.

In [19]:
# Your code here
cursor.execute('''
SELECT customerName, orderNumber, orderDate, status FROM customers
    JOIN orders
    USING(customerNumber);
    
''').fetchall()

[('10123', '2003-05-20', 'Shipped'),
 ('10298', '2004-09-27', 'Shipped'),
 ('10345', '2004-11-25', 'Shipped'),
 ('10124', '2003-05-21', 'Shipped'),
 ('10278', '2004-08-06', 'Shipped'),
 ('10346', '2004-11-29', 'Shipped'),
 ('10120', '2003-04-29', 'Shipped'),
 ('10125', '2003-05-21', 'Shipped'),
 ('10223', '2004-02-20', 'Shipped'),
 ('10342', '2004-11-24', 'Shipped'),
 ('10347', '2004-11-29', 'Shipped'),
 ('10275', '2004-07-23', 'Shipped'),
 ('10315', '2004-10-29', 'Shipped'),
 ('10375', '2005-02-03', 'Shipped'),
 ('10425', '2005-05-31', 'In Process'),
 ('10103', '2003-01-29', 'Shipped'),
 ('10158', '2003-10-10', 'Shipped'),
 ('10309', '2004-10-15', 'Shipped'),
 ('10325', '2004-11-05', 'Shipped'),
 ('10113', '2003-03-26', 'Shipped'),
 ('10135', '2003-07-02', 'Shipped'),
 ('10142', '2003-08-08', 'Shipped'),
 ('10182', '2003-11-12', 'Shipped'),
 ('10229', '2004-03-11', 'Shipped'),
 ('10271', '2004-07-20', 'Shipped'),
 ('10282', '2004-08-20', 'Shipped'),
 ('10312', '2004-10-21', 'Shipped'),
 ('10335', '2004-11-19', 'Shipped'),
 ('10357', '2004-12-10', 'Shipped'),
 ('10368', '2005-01-19', 'Shipped'),
 ('10371', '2005-01-23', 'Shipped'),
 ('10382', '2005-02-17', 'Shipped'),
 ('10385', '2005-02-28', 'Shipped'),
 ('10390', '2005-03-04', 'Shipped'),
 ('10396', '2005-03-23', 'Shipped'),
 ('10421', '2005-05-29', 'In Process'),
 ('10101', '2003-01-09', 'Shipped'),
 ('10230', '2004-03-15', 'Shipped'),
 ('10300', '2003-10-04', 'Shipped'),
 ('10323', '2004-11-05', 'Shipped'),
 ('10111', '2003-03-25', 'Shipped'),
 ('10201', '2003-12-01', 'Shipped'),
 ('10333', '2004-11-18', 'Shipped'),
 ('10107', '2003-02-24', 'Shipped'),
 ('10248', '2004-05-07', 'Cancelled'),
 ('10292', '2004-09-08', 'Shipped'),
 ('10329', '2004-11-15', 'Shipped'),
 ('10104', '2003-01-31', 'Shipped'),
 ('10128', '2003-06-06', 'Shipped'),
 ('10133', '2003-06-27', 'Shipped'),
 ('10153', '2003-09-28', 'Shipped'),
 ('10156', '2003-10-08', 'Shipped'),
 ('10190', '2003-11-19', 'Shipped'),
 ('10203', '2003-12-02', 'Shipped'),
 ('10205', '2003-12-03', 'Shipped'),
 ('10212', '2004-01-16', 'Shipped'),
 ('10244', '2004-04-29', 'Shipped'),
 ('10246', '2004-05-05', 'Shipped'),
 ('10262', '2004-06-24', 'Cancelled'),
 ('10279', '2004-08-09', 'Shipped'),
 ('10311', '2004-10-16', 'Shipped'),
 ('10350', '2004-12-02', 'Shipped'),
 ('10355', '2004-12-07', 'Shipped'),
 ('10358', '2004-12-10', 'Shipped'),
 ('10378', '2005-02-10', 'Shipped'),
 ('10379', '2005-02-10', 'Shipped'),
 ('10380', '2005-02-16', 'Shipped'),
 ('10383', '2005-02-22', 'Shipped'),
 ('10386', '2005-03-01', 'Resolved'),
 ('10394', '2005-03-15', 'Shipped'),
 ('10412', '2005-05-03', 'Shipped'),
 ('10417', '2005-05-13', 'Disputed'),
 ('10424', '2005-05-31', 'In Process'),
 ('10112', '2003-03-24', 'Shipped'),
 ('10320', '2004-11-03', 'Shipped'),
 ('10326', '2004-11-09', 'Shipped'),
 ('10334', '2004-11-19', 'On Hold'),
 ('10105', '2003-02-11', 'Shipped'),
 ('10238', '2004-04-09', 'Shipped'),
 ('10256', '2004-06-08', 'Shipped'),
 ('10327', '2004-11-10', 'Resolved'),
 ('10406', '2005-04-15', 'Disputed'),
 ('10194', '2003-11-25', 'Shipped'),
 ('10208', '2004-01-02', 'Shipped'),
 ('10227', '2004-03-02', 'Shipped'),
 ('10117', '2003-04-16', 'Shipped'),
 ('10150', '2003-09-19', 'Shipped'),
 ('10165', '2003-10-22', 'Shipped'),
 ('10277', '2004-08-04', 'Shipped'),
 ('10387', '2005-03-02', 'Shipped'),
 ('10127', '2003-06-03', 'Shipped'),
 ('10204', '2003-12-02', 'Shipped'),
 ('10267', '2004-07-07', 'Shipped'),
 ('10349', '2004-12-01', 'Shipped'),
 ('10272', '2004-07-20', 'Shipped'),
 ('10281', '2004-08-19', 'Shipped'),
 ('10318', '2004-11-02', 'Shipped'),
 ('10422', '2005-05-30', 'In Process'),
 ('10140', '2003-07-24', 'Shipped'),
 ('10168', '2003-10-28', 'Shipped'),
 ('10317', '2004-11-02', 'Shipped'),
 ('10362', '2005-01-05', 'Shipped'),
 ('10217', '2004-02-04', 'Shipped'),
 ('10259', '2004-06-15', 'Shipped'),
 ('10288', '2004-09-01', 'Shipped'),
 ('10409', '2005-04-23', 'Shipped'),
 ('10181', '2003-11-12', 'Shipped'),
 ('10188', '2003-11-18', 'Shipped'),
 ('10289', '2004-09-03', 'Shipped'),
 ('10180', '2003-11-11', 'Shipped'),
 ('10224', '2004-02-21', 'Shipped'),
 ('10114', '2003-04-01', 'Shipped'),
 ('10286', '2004-08-28', 'Shipped'),
 ('10336', '2004-11-20', 'Shipped'),
 ('10228', '2004-03-10', 'Shipped'),
 ('10249', '2004-05-08', 'Shipped'),
 ('10172', '2003-11-05', 'Shipped'),
 ('10263', '2004-06-28', 'Shipped'),
 ('10413', '2005-05-05', 'Shipped'),
 ('10210', '2004-01-12', 'Shipped'),
 ('10240', '2004-04-13', 'Shipped'),
 ('10102', '2003-01-10', 'Shipped'),
 ('10237', '2004-04-05', 'Shipped'),
 ('10324', '2004-11-05', 'Shipped'),
 ('10155', '2003-10-06', 'Shipped'),
 ('10299', '2004-09-30', 'Shipped'),
 ('10377', '2005-02-09', 'Shipped'),
 ('10110', '2003-03-18', 'Shipped'),
 ('10306', '2004-10-14', 'Shipped'),
 ('10332', '2004-11-17', 'Shipped'),
 ('10220', '2004-02-12', 'Shipped'),
 ('10297', '2004-09-16', 'Shipped'),
 ('10130', '2003-06-16', 'Shipped'),
 ('10290', '2004-09-07', 'Shipped'),
 ('10352', '2004-12-03', 'Shipped'),
 ('10253', '2004-06-01', 'Cancelled'),
 ('10302', '2003-10-06', 'Shipped'),
 ('10403', '2005-04-08', 'Shipped'),
 ('10206', '2003-12-05', 'Shipped'),
 ('10313', '2004-10-22', 'Shipped'),
 ('10276', '2004-08-02', 'Shipped'),
 ('10294', '2004-09-10', 'Shipped'),
 ('10145', '2003-08-25', 'Shipped'),
 ('10189', '2003-11-18', 'Shipped'),
 ('10367', '2005-01-12', 'Resolved'),
 ('10241', '2004-04-13', 'Shipped'),
 ('10255', '2004-06-04', 'Shipped'),
 ('10405', '2005-04-14', 'Shipped'),
 ('10187', '2003-11-15', 'Shipped'),
 ('10200', '2003-12-01', 'Shipped'),
 ('10118', '2003-04-21', 'Shipped'),
 ('10197', '2003-11-26', 'Shipped'),
 ('10340', '2004-11-24', 'Shipped'),
 ('10154', '2003-10-02', 'Shipped'),
 ('10376', '2005-02-08', 'Shipped'),
 ('10161', '2003-10-17', 'Shipped'),
 ('10314', '2004-10-22', 'Shipped'),
 ('10171', '2003-11-05', 'Shipped'),
 ('10261', '2004-06-17', 'Shipped'),
 ('10411', '2005-05-01', 'Shipped'),
 ('10222', '2004-02-19', 'Shipped'),
 ('10226', '2004-02-26', 'Shipped'),
 ('10232', '2004-03-20', 'Shipped'),
 ('10316', '2004-11-01', 'Shipped'),
 ('10136', '2003-07-04', 'Shipped'),
 ('10178', '2003-11-08', 'Shipped'),
 ('10397', '2005-03-28', 'Shipped'),
 ('10280', '2004-08-17', 'Shipped'),
 ('10293', '2004-09-09', 'Shipped'),
 ('10134', '2003-07-01', 'Shipped'),
 ('10356', '2004-12-09', 'Shipped'),
 ('10395', '2005-03-17', 'Shipped'),
 ('10216', '2004-02-02', 'Shipped'),
 ('10304', '2004-10-11', 'Shipped'),
 ('10191', '2003-11-20', 'Shipped'),
 ('10310', '2004-10-16', 'Shipped'),
 ('10235', '2004-04-02', 'Shipped'),
 ('10283', '2004-08-20', 'Shipped'),
 ('10148', '2003-09-11', 'Shipped'),
 ('10169', '2003-11-04', 'Shipped'),
 ('10370', '2005-01-20', 'Shipped'),
 ('10391', '2005-03-09', 'Shipped'),
 ('10106', '2003-02-17', 'Shipped'),
 ('10173', '2003-11-05', 'Shipped'),
 ('10328', '2004-11-12', 'Shipped'),
 ('10139', '2003-07-16', 'Shipped'),
 ('10270', '2004-07-19', 'Shipped'),
 ('10361', '2004-12-17', 'Shipped'),
 ('10420', '2005-05-29', 'In Process'),
 ('10285', '2004-08-27', 'Shipped'),
 ('10305', '2004-10-13', 'Shipped'),
 ('10225', '2004-02-22', 'Shipped'),
 ('10287', '2004-08-30', 'Shipped'),
 ('10284', '2004-08-21', 'Shipped'),
 ('10301', '2003-10-05', 'Shipped'),
 ('10151', '2003-09-21', 'Shipped'),
 ('10239', '2004-04-12', 'Shipped'),
 ('10373', '2005-01-31', 'Shipped'),
 ('10221', '2004-02-18', 'Shipped'),
 ('10273', '2004-07-21', 'Shipped'),
 ('10423', '2005-05-30', 'In Process'),
 ('10195', '2003-11-25', 'Shipped'),
 ('10308', '2004-10-15', 'Shipped'),
 ('10143', '2003-08-10', 'Shipped'),
 ('10185', '2003-11-14', 'Shipped'),
 ('10365', '2005-01-07', 'Shipped'),
 ('10159', '2003-10-10', 'Shipped'),
 ('10162', '2003-10-18', 'Shipped'),
 ('10381', '2005-02-17', 'Shipped'),
 ('10384', '2005-02-23', 'Shipped'),
 ('10132', '2003-06-25', 'Shipped'),
 ('10254', '2004-06-03', 'Shipped'),
 ('10354', '2004-12-04', 'Shipped'),
 ('10393', '2005-03-11', 'Shipped'),
 ('10404', '2005-04-08', 'Shipped'),
 ('10129', '2003-06-12', 'Shipped'),
 ('10175', '2003-11-06', 'Shipped'),
 ('10351', '2004-12-03', 'Shipped'),
 ('10233', '2004-03-29', 'Shipped'),
 ('10251', '2004-05-18', 'Shipped'),
 ('10401', '2005-04-03', 'On Hold'),
 ('10152', '2003-09-25', 'Shipped'),
 ('10174', '2003-11-06', 'Shipped'),
 ('10374', '2005-02-02', 'Shipped'),
 ('10141', '2003-08-01', 'Shipped'),
 ('10247', '2004-05-05', 'Shipped'),
 ('10363', '2005-01-06', 'Shipped'),
 ('10183', '2003-11-13', 'Shipped'),
 ('10307', '2004-10-14', 'Shipped'),
 ('10177', '2003-11-07', 'Shipped'),
 ('10231', '2004-03-19', 'Shipped'),
 ('10160', '2003-10-11', 'Shipped'),
 ('10209', '2004-01-09', 'Shipped'),
 ('10122', '2003-05-08', 'Shipped'),
 ('10344', '2004-11-25', 'Shipped'),
 ('10364', '2005-01-06', 'Shipped'),
 ('10121', '2003-05-07', 'Shipped'),
 ('10137', '2003-07-10', 'Shipped'),
 ('10343', '2004-11-24', 'Shipped'),
 ('10359', '2004-12-15', 'Shipped'),
 ('10398', '2005-03-30', 'Shipped'),
 ('10202', '2003-12-02', 'Shipped'),
 ('10260', '2004-06-16', 'Cancelled'),
 ('10410', '2005-04-29', 'Shipped'),
 ('10264', '2004-06-30', 'Shipped'),
 ('10295', '2004-09-10', 'Shipped'),
 ('10414', '2005-05-06', 'On Hold'),
 ('10100', '2003-01-06', 'Shipped'),
 ('10192', '2003-11-20', 'Shipped'),
 ('10322', '2004-11-04', 'Shipped'),
 ('10147', '2003-09-05', 'Shipped'),
 ('10274', '2004-07-21', 'Shipped'),
 ('10369', '2005-01-20', 'Shipped'),
 ('10116', '2003-04-11', 'Shipped'),
 ('10144', '2003-08-13', 'Shipped'),
 ('10338', '2004-11-22', 'Shipped'),
 ('10366', '2005-01-10', 'Shipped'),
 ('10119', '2003-04-28', 'Shipped'),
 ('10269', '2004-07-16', 'Shipped'),
 ('10341', '2004-11-24', 'Shipped'),
 ('10419', '2005-05-17', 'Shipped'),
 ('10108', '2003-03-03', 'Shipped'),
 ('10198', '2003-11-27', 'Shipped'),
 ('10330', '2004-11-16', 'Shipped'),
 ('10176', '2003-11-06', 'Shipped'),
 ('10266', '2004-07-06', 'Shipped'),
 ('10416', '2005-05-10', 'Shipped'),
 ('10258', '2004-06-15', 'Shipped'),
 ('10339', '2004-11-23', 'Shipped'),
 ('10372', '2005-01-26', 'Shipped'),
 ('10408', '2005-04-22', 'Shipped'),
 ('10211', '2004-01-15', 'Shipped'),
 ('10252', '2004-05-26', 'Shipped'),
 ('10402', '2005-04-07', 'Shipped'),
 ('10234', '2004-03-30', 'Shipped'),
 ('10268', '2004-07-12', 'Shipped'),
 ('10418', '2005-05-16', 'Shipped'),
 ('10296', '2004-09-15', 'Shipped'),
 ('10115', '2003-04-04', 'Shipped'),
 ('10163', '2003-10-20', 'Shipped'),
 ('10337', '2004-11-21', 'Shipped'),
 ('10131', '2003-06-16', 'Shipped'),
 ('10146', '2003-09-03', 'Shipped'),
 ('10353', '2004-12-04', 'Shipped'),
 ('10167', '2003-10-23', 'Cancelled'),
 ('10291', '2004-09-08', 'Shipped'),
 ('10389', '2005-03-03', 'Shipped'),
 ('10250', '2004-05-11', 'Shipped'),
 ('10257', '2004-06-14', 'Shipped'),
 ('10400', '2005-04-01', 'Shipped'),
 ('10407', '2005-04-22', 'On Hold'),
 ('10164', '2003-10-21', 'Resolved'),
 ('10170', '2003-11-04', 'Shipped'),
 ('10392', '2005-03-10', 'Shipped'),
 ('10196', '2003-11-26', 'Shipped'),
 ('10245', '2004-05-04', 'Shipped'),
 ('10242', '2004-04-20', 'Shipped'),
 ('10319', '2004-11-03', 'Shipped'),
 ('10126', '2003-05-28', 'Shipped'),
 ('10214', '2004-01-26', 'Shipped'),
 ('10348', '2004-11-01', 'Shipped'),
 ('10166', '2003-10-21', 'Shipped'),
 ('10321', '2004-11-04', 'Shipped'),
 ('10388', '2005-03-03', 'Shipped'),
 ('10193', '2003-11-21', 'Shipped'),
 ('10265', '2004-07-02', 'Shipped'),
 ('10415', '2005-05-09', 'Disputed'),
 ('10157', '2003-10-09', 'Shipped'),
 ('10218', '2004-02-09', 'Shipped'),
 ('10199', '2003-12-01', 'Shipped'),
 ('10215', '2004-01-29', 'Shipped'),
 ('10184', '2003-11-14', 'Shipped'),
 ('10303', '2004-10-06', 'Shipped'),
 ('10109', '2003-03-10', 'Shipped'),
 ('10236', '2004-04-03', 'Shipped'),
 ('10331', '2004-11-17', 'Shipped'),
 ('10149', '2003-09-12', 'Shipped'),
 ('10219', '2004-02-10', 'Shipped'),
 ('10186', '2003-11-14', 'Shipped'),
 ('10213', '2004-01-22', 'Shipped'),
 ('10207', '2003-12-09', 'Shipped'),
 ('10243', '2004-04-26', 'Shipped'),
 ('10138', '2003-07-07', 'Shipped'),
 ('10179', '2003-11-11', 'Cancelled'),
 ('10360', '2004-12-16', 'Shipped'),
 ('10399', '2005-04-01', 'Shipped')]

## Orders and their Order Details (another One-to-Many join)

Return a list of orders. For each order return a record for each order detail within the order.

In [3]:
# Your code here

## Orders, Order details and Product Details (a Many-to-Many Join)

Return a list of the orders with the the order information, and allthe product information for each product in the order.

In [4]:
# Your code here

## Summary

In this lab, you practiced your knowledge on One-to-Many and Many-to-many relationships!